.App {
  text-align: center;
}
.table-heading {
  border-width: 1px;
  border-color: #ddd;
  background-color: #F9F9F9;
  /* height: 50px; */
  width: 100%;
  border-style: solid;
  margin-bottom: 10px;
  cursor: pointer;
}
.table-heading p {
  font-size: 20px;
}
a {
  color: black;
  text-decoration: none !important;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
.heading th {
  cursor: pointer;
}

.camper-image {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.heading {
  text-align: center;
}
.table-container {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
